
.PlaylistTracks {
  font-family: sans-serif;
  text-align: center;
}

.PlaylistTracks-header {
  background-image: linear-gradient(#00c24d, #11dfd1);
  /* background-image: linear-gradient(#242424, #000000); */
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.PlaylistTracks-header ul p {
  margin-top: 90px;
}

.Tracks {
  margin-top: -100px;
}

.Tracks div {
  width: 500px;
  height: 500px;
  overflow-y: scroll;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  border-radius: 20px;
}

ul {
  margin-bottom: 10px;
}

li {
    /* background-image: linear-gradient(to bottom right, #f096d5, #e241b2); */
  /* background-image: linear-gradient(to bottom right, #91bff5, #6d0d48); */
  /* background-image: linear-gradient(to bottom right, #918f90, #555555); */
  background-image: linear-gradient(to bottom right, #cea4eb, #9714ee);
  line-height: 36px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  padding: 2px;
  font-family: Helvetica Neue,Helvetica,sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-top: 2px;
  margin-right: 10px;
}

li:hover {
  background-color: transparent;
  cursor: pointer;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #00c24d;
  overflow: hidden;
  height: 10vh;
}

/* Style the links inside the navigation bar */
.topnav a.left {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  height: 60px;
  margin-top: 12px;
}

.topnav a.right {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  height: 60px;
  margin-top: 12px;
}

a:hover {
  cursor: pointer;
}

.Tracks input {
  width: 120px;
  margin-top: 12px;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.PlaylistTracks-header .Tracks .submit {
  height: 40px;
  line-height: 36px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  padding: 0 20px;
  font-family: Helvetica Neue,Helvetica,sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-top: 0px;
  cursor: pointer;
  text-align: center;
  width: 150px;
}

.PlaylistTracks-header .Tracks .submit:hover {
  cursor: pointer;
  background-color: white;
  color: #11dfd1;
}